{% load bootstrap3 %}

<!--
{% bootstrap_css %}
{% bootstrap_javascript %}
-->


<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" />


<form action="" method="post" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "heart" %} Submit{% bootstrap_icon "star" %}
        </button>
    {% endbuttons %}
</form>